@font-face {
  font-family: 'Source Code Pro';
  src: url('/content/fonts/source-code-pro-v31-latin-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/content/fonts/source-code-pro-v31-latin-italic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/content/fonts/source-code-pro-v31-latin-700.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/content/fonts/source-code-pro-v31-latin-700italic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-display: swap;
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: url('/content/fonts/special-elite-v20-latin-regular.woff2') format('woff2');
}

/* Global */

:root {
  --font-stack: "Source Code Pro", "Cascadia Code", ui-monospace, Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

body {
  font-size: 1rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  letter-spacing: -0.025rem;
}

header {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
  border-bottom-style: dashed;
}

header h1 {
  text-transform: lowercase;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 2px;
  font-family: 'Special Elite', Courier, ui-monospace, Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

hr {
  border-bottom-width: 0;
  border-style: dashed;
}

ul {
  list-style: circle;
  padding-left: 1rem;
}

li::marker {
  color: var(--accent-color);
}

footer {
  border-top-style: dashed;
}

.rings {
  margin-top: 2rem;
}

.tag-list a::before {
  content: "#";
}

/* Home page */

main .excerpt-view h2 a {
  color: var(--text-color);
  text-decoration: none;
}

main .excerpt-view h2 a:hover {
  color: var(--accent-color);
}

.excerpt-view h2,
.tag-item h2 {
  margin: 0;
}

/* Tags page */

.tag-cloud {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.tag-cloud li {
  margin: 0.5rem;
  margin-bottom: 1rem;
}

/* Archive page */

.archive time {
  padding-left: 0.5rem;
}

/* Post */

p.post-date {
  margin-top: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.post-nav {
  border-top-style: dashed;
  border-bottom-style: dashed;
}

/* Post Comments */

.mail {
  margin: 3rem 0 2.4rem;
}

#comments .hp-field {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#comments .comment-privacy-link {
  display: none;
}

#comments .comments-header {
  display: none;
}

.post-upvote {
  margin-top: 4rem;
}

/* Post like button */

.iine-button {
  background: var(--accent-bg-color);
  color: var(--accent-color);
}

.iine-button:hover {
  background-color: var(--text-color);
  color: var(--accent-bg-color);
}

/* Post media */

main article img {
  margin: 0.125rem 0;
  border: 1px dotted var(--border-color);
}

main article figcaption,
main article img+em {
  margin-top: 0rem;
  font-style: italic;
}

main article iframe:has(+p>em),
main article lite-youtube:has(+p>em) {
  margin-bottom: -1rem;
}

lite-youtube+lite-youtube {
  margin-top: 1rem;
}

/* Side-by-Side images */

p+.collage {
  margin-top: -1.5rem;
}

.collage+p {
  margin-top: 0.4rem;
}

.collage+.collage {
  margin: 0.4rem 0;
}

.collage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .collage {
    flex-direction: row;
  }

  .collage img {
    width: 50%;
    height: auto;
    object-fit: contain;
  }
}

/* CUSTOM LAYOUTS */

/* Notes */

.notes {
  background-color: var(--bg-light);
  background-image:
    linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 95%, #fbf8f3 100%), linear-gradient(#f6f2ea 1px, transparent 1px);
  background-size: 100% 2rem;
  font-family: 'Special Elite', Courier, ui-monospace, Menlo, Consolas, "DejaVu Sans Mono", monospace;
  color: var(--text-light);
  line-height: 1.6;
  padding: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
  border: 1px solid #dcdcdc;
  border-radius: 2px 4px 2px 8px;
  transform: rotate(-0.5deg);
}

.layout .notes .post-date {
  text-align: right;
}

.notes h2,
.layout .notes h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: normal;
  opacity: 0.9;
  text-shadow: 0.5px 0.55px 1px rgba(0, 0, 0, 0.1);
}

.notes h2 {
  font-size: 1rem;
}

.notes p {
  opacity: 0.9;
  text-shadow: 0.5px 0.55px 1px rgba(0, 0, 0, 0.1);
  font-weight: normal;
  font-style: normal !important;
}

.excerpt-view.notes>a {
  text-decoration: none;
  display: block;
  color: var(--text-light) !important;
}

.notes blockquote {
  border-left: 0;
  padding-left: 0;
}

.excerpt-view.notes {
  display: grid;
  align-items: start;
}

.excerpt-view.notes h2 {
  grid-area: 1/1;
}

.excerpt-view.notes p {
  grid-area: 2/1;
  z-index: 1;
  margin: 0;
}

.excerpt-view.notes h2.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 2;
  color: transparent;
  font-size: 0;
}

/* Photos */

.excerpt-view.photos {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.excerpt-view.photos img,
.layout .photo img {
  display: block;
  padding: 16px 12px 40px 12px;
  background: #f0f0f0;
  border: 1px solid #eee;
  border-radius: 3px;
  transform: rotate(0.5deg);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.excerpt-view.photos,
.layout .photo {
  display: grid;
}

.excerpt-view.photos h2,
.layout .photo h1,
.layout .photo p.post-date {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  font-family: "Special Elite", Courier, ui-monospace, Menlo, Consolas, "DejaVu Sans Mono", monospace;
  text-shadow: 0.5px 0.55px 1px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  z-index: 3;
}

.excerpt-view.photos h2,
.excerpt-view.photos p:has(img),
.layout .photo h1,
.layout .photo p.post-date,
.layout .photo p:has(img) {
  grid-area: 1/1;
  margin: 0;
}

.excerpt-view.photos h2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transform: rotate(0.5deg);
  text-transform: uppercase;
}

.excerpt-view.photos h2>a {
  align-content: flex-end;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.layout .photo h1 {
  align-self: flex-end;
  justify-self: start;
  padding-left: 1rem;
  padding-bottom: 1rem;
  transform: rotate(0.5deg);
  text-transform: uppercase;
}

.layout .photo p.post-date {
  align-self: flex-end;
  justify-self: end;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  font-size: 0.9rem;
}

.excerpt-view.photos p:not(:has(img)) {
  display: none;
}

/* Stretched link handling */

.excerpt-view.notes,
.excerpt-view.photos {
  position: relative;
}

.excerpt-view.notes h2>a::after,
.excerpt-view.photos a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.excerpt-view.notes h2>a:hover,
.excerpt-view.photos a:hover,
.excerpt-view.photos a {
  color: var(--text-light);
}

.excerpt-view.notes h2.hidden>a,
.excerpt-view.photos a {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.excerpt-view.notes>p:has(img),
.excerpt-view.notes>p:not(:has(*)),
.excerpt-view.photos>img {
  pointer-events: none;
}